__pycache__/
*.pyc
dist/
build/
*.egg-info/
.env
.DS_Store
.vscode/

# Local conda environment
.conda/

# Packaging and manifest
MANIFEST.in

# Log and optimization files
*.log
*.pyo
